html,

/** Stili di default **/
body {
  height: 100%;
}
<<<<<<< HEAD:MultimediaSite/paginaFilmVer1/paginavideo.css
/*
body {
=======

/*body {
>>>>>>> e5e18941aba8b15fd961c7e5ea3726b6695fa5b2:MultimediaSite/paginaFilmVer1/film1.css
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
<<<<<<< HEAD:MultimediaSite/paginaFilmVer1/paginavideo.css
}
*/
=======
}*/
>>>>>>> e5e18941aba8b15fd961c7e5ea3726b6695fa5b2:MultimediaSite/paginaFilmVer1/film1.css

#player{
  display: none;
}

#result{
  position: absolute;
  width: 100%;
  max-width:870px;
  cursor: pointer;
  overflow-y: auto;
  max-height: 400px;
  box-sizing: border-box;
  z-index: 1001;
 }
 
 .link-class:hover{
  background-color:#f1f1f1;
 }

 .modal{background-color: #254061;}
 .modal-content{
  width: auto;
}
