html,
body {
  height: 100%;
  width:100%; 
  margin: 0; 
  padding: 0;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

/** Rende non selezionabile lo sfondo della pagina **/
#sfondo{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div#testo-header{
    width: 800px;
    height: 200px;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 20%;
    left: 20%;
    margin-top: -100px;
    margin-left: -100px;
}

div#imgsx{
    width: 800px;
    height: 200px;
    width: 46.5%;
    height: 46.5%;
    position: absolute;
    top: 49.7%;
    left: 5.5%;
    margin-top: -100px;
    margin-left: -100px;
}

div#imgdx{
    width: 800px;
    height: 200px;
    width: 40%;
    height: 40%;
    position: absolute;
    top: 49.5%;
    right: 4%;
    margin-top: -100px;
    margin-left: -100px;
}